<div>
  <div>
    <h1>
      <%= @the_board.name %> 
    </h1>

    <hr>

  </div>
</div>


<hr>

<h2>Add a new post</h2>

<form action="/insert_post" method="post">
  <div>
    <label for="title_field">Title</label>
    <input type="text" id="title_field" name="query_title">
  </div>

  <div>
    <label for="body_field">Body</label>
    <textarea id="body_field" name="query_body" cols="30 rows="3"></textarea>
  </div>

  <div>
    <label for="expires_on_field">Expires on</label>
    <input type="date" id="expires_on_field" name="query_expires_on">
  </div>  

  <div>
    <label for="board_id_field">Board ID</label>
    <input type="text" id="board_id_field" name="query_board_id">
  </div> 


  <button>
      Add post
  </button>
    </form>
  </div>
</div>

<hr>

